Flask
flask-cors
python-dotenv
requests
streamlit
pandas
beautifulsoup4
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
gunicorn
sentence-transformers
huggingface-hub<1.0.0
